@*DPBMARK_FILE MP*@
@{
    ViewBag.Title = "异步方法测试页面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderContent
{
    <style>

        .asyncWapper {
            text-align: center;
            padding: 30px 30px;
        }

            .asyncWapper h1 {
                text-align: center;
                font-size: 30px;
                padding: 30px;
            }

            .asyncWapper p {
                line-height: 200%;
            }

            .asyncWapper table thead {
                font-weight: bold;
            }

            .asyncWapper td {
                padding: 10px;
                line-height: 150%;
            }

            .asyncWapper ol {
                list-style-type: decimal;
                text-align: left;
            }

        input {
            width: 600px;
            height: 20px;
        }
    </style>
}
<div class="wrapper asyncWapper">
    <h1>模板消息测试</h1>
    <hr />
    <div class="asyncWapper_con">
        <table>
            <tbody>
                <tr>
                    <td>
                        @using (Html.BeginForm("TemplateMessageTest", "AsyncMethods", FormMethod.Post))
                        {
                            <p>
                                OpenId(多个OpenId用逗号分隔)：<input type="text" id="tm_openIds" name="openIds" value="o2dYAs0HFlQ55Yg1CTtt1zNnGIU0,o2dYAsz6UPlOYcBIsLUyf8Gl9Gpw,o2dYAs4cWV_mPFtlLQhA5-qhK1PI" /><br />
                                templateId：<input type="text" id="tm_templateId" name="templateId" value="kYIkkm9XcyJqmF5vGzh1t-RivVjZj-yMmNPMtI3ArWY" /><br />
                                url：<input type="text" id="tm_url" name="url" value="https://kpltest.sharepoint.com/sites/ApplicationTeam/SitePages/%E6%96%B0%E5%A2%9E%E6%96%B0%E9%97%BB%E6%96%87%E7%AB%A0.aspx" /><br />
                                data.first：<input type="text" id="tm_data_first" name="first" value="这是文章的标题" /><br />
                                data.keyword1：<input type="text" id="tm_data_keyword1" name="keyword1" value="作者姓名" /><br />
                                data.keyword2：<input type="text" id="tm_data_keyword2" name="keyword2" value="发布时间" /><br />
                                data.keyword3：<input type="text" id="tm_data_keyword3" name="keyword3" value="这是内容，这是内容，这是内容，这是内容，这是内容，这是内容，这是内容，这是内容，这是内容，这是内容，这是内容，这是内容，这是内容，这是内容，这是内容" /><br />
                                data.remark：<input type="text" id="tm_data_remark" name="remark" value="https://kpltest.sharepoint.com/sites/ApplicationTeam/SitePages/%E6%96%B0%E5%A2%9E%E6%96%B0%E9%97%BB%E6%96%87%E7%AB%A0.aspx" /><br />
                                <br />
                                <input type="submit" style="width:100px;" value="点击测试" class="ui-button" />
                            </p>
                        }
                    </td>
                </tr>

                <tr>
                    <td>
                        @using (Html.BeginForm("UploadPic", "AsyncMethods", FormMethod.Post))
                        {
                            <p>
                                <br />
                                <input type="submit" style="width:100px;" value="上传图片" class="ui-button" />
                            </p>
                        }
                    </td>
                </tr>



                <tr>
                    <td>
                        @using (Html.BeginForm("SendNews", "AsyncMethods", FormMethod.Post))
                        {
                        <p>
                            OpenId(多个OpenId用逗号分隔)：<input type="text" id="tm_openIds" name="openIds" value="o2dYAs0HFlQ55Yg1CTtt1zNnGIU0,o2dYAsz6UPlOYcBIsLUyf8Gl9Gpw,o2dYAs4cWV_mPFtlLQhA5-qhK1PI" /><br />
                            title：<input type="text" id="tm_templateId" name="title" value="这是文章的标题" /><br />
                            author：<input type="text" id="tm_data_first" name="author" value="作者" /><br />
                            url：<input type="text" id="tm_url" name="url" value="https://cn.bing.com/" /><br />
                            desc：<input type="text" id="desc" name="desc" value="这是文章的摘要，这是文章的摘要，这是文章的摘要，这是文章的摘要，这是文章的摘要" /><br />
                            <br />
                            <input type="submit" style="width:100px;" value="点击测试" class="ui-button" />
                        </p>
                        }
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
<div class="clear"></div>
