@*DPBMARK_FILE MP*@
@{
    ViewBag.Title = "异步方法测试页面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderContent
{
    <style>

        .asyncWapper {
            text-align: center;
            padding: 30px 30px;
        }

            .asyncWapper h1 {
                text-align: center;
                font-size: 30px;
                padding: 30px;
            }

            .asyncWapper p {
                line-height: 200%;
            }

            .asyncWapper table thead {
                font-weight: bold;
            }

            .asyncWapper td {
                padding: 10px;
                line-height: 150%;
            }

            .asyncWapper ol {
                list-style-type: decimal;
                text-align: left;
            }

        input {
            width: 600px;
            height: 20px;
        }
    </style>
}
<div class="wrapper asyncWapper">
    <h1>模板消息测试</h1>
    <hr />
    <div class="asyncWapper_con">
        <table>
            <tbody>
                <tr>
                    <td>
                        @using (Html.BeginForm("TemplateMessageTest", "AsyncMethods", FormMethod.Post))
                        {
                            <p>
                                OpenId(多个OpenId用逗号分隔)：<input type="text" id="tm_openIds" name="openIds" value="o2dYAsz6UPlOYcBIsLUyf8Gl9Gpw,o2dYAs7n4PxjoXF5eWwD-6nvrhIA,o2dYAs4vZG0uP_pCmmUhu8tUw52s,o2dYAs--7lg4F5csulm7beUBBTME,o2dYAs6ZpXNqZs77QWozFA3StwVA" /><br />
                                templateId：<input type="text" id="tm_templateId" name="templateId" value="D_PsZMDbWx3rTR0XrkESTlDKdYW78vUchFROST0MKqg" /><br />
                                url：<input type="text" id="tm_url" name="url" value="https://cn.bing.com/" /><br />
                                data.first：<input type="text" id="tm_data_first" name="first" value="first_data_here" /><br />
                                data.keyword1：<input type="text" id="tm_data_keyword1" name="keyword1" value="keyword1" /><br />
                                data.keyword2：<input type="text" id="tm_data_keyword2" name="keyword2" value="keyword2" /><br />
                                data.keyword3：<input type="text" id="tm_data_keyword3" name="keyword3" value="keyword3" /><br />
                                data.remark：<input type="text" id="tm_data_remark" name="remark" value="remark" /><br />
                                <br />
                                <input type="submit" style="width:100px;" value="点击测试" class="ui-button" />
                            </p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="clear"></div>
